
.filter-button
{
    
    font-size: 18px;
    border: 1px solid #ff666f;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #ff666f;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #ff666f;

}
.btn-default:active .filter-button:active
{
    background-color: #ff666f;
    color: white;
}

.wedding-details{ overflow: hidden; position: relative; margin-top: 40px; }

.wedding-details:after{ content:''; position: absolute; top: 0; bottom: 0; left: 50%; margin-left: -.5px;
	width: 1px; background: #ccc; margin-top: 40px; }

.w-detail{ width: 50%; padding: 0 50px; margin-bottom: 30px; position: relative; clear: both; margin-top: 40px; }

.w-detail:first-child{ margin-top: 40px; }

.w-detail:last-child{ margin-bottom: 0; }

.w-detail:after{ content:''; position: absolute; top: 0; height: 18px; width: 18px; border-radius: 20px;
	z-index: 1; border: 1px solid #aaa; background: #fff; }

.w-detail.right{ text-align: left;  float: right; }

.w-detail.right:after{ left: 0; margin-left: -9px; }
	
.w-detail.left{ text-align: right;  float: left; }

.w-detail.left:after{ right: 0; margin-right: -9px; }
	
.w-detail .title{ margin: 10px 0; }

.w-detail .icon{ font-size: 3.5em; line-height: 1; color: rgb(116, 28, 82); }

